services:
  - type: web
    name: api-fresherflow
    runtime: node
    region: singapore
    plan: free
    buildCommand: npm install && npm run deploy:api
    startCommand: npm run start:api
    envVars:
      - key: DATABASE_URL
        sync: false
      - key: JWT_ACCESS_SECRET
        generateValue: true
      - key: JWT_REFRESH_SECRET
        generateValue: true
      - key: FRONTEND_URL
        sync: false
      - key: NODE_ENV
        value: production
    healthCheckPath: /api/health
